@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Chakra+Petch&display=swap');
*{
  font-family: 'Cairo', sans-serif;
font-family: 'Chakra Petch', sans-serif;
}
.mediaQuery{
  display: none;
}

.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  width: 80px; }

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

/* .choosing {
  top:70px;
} */
.customcard{
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .7s transform cubic-bezier(.155,1.105,.295,1.12),.7s box-shadow,.7s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
/* padding: 14px 80px 18px 36px; */
cursor: pointer;
}

.customCard:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.mainCard a{
  text-decoration: none;
}
.customCard a{
  text-decoration: none;
}
a{
  text-decoration: none;
}


/* bootstraap color overriding */
.page-link{
  color:#49566a;
}

.page-item.active .page-link{
  background-color: #49566a;
  border-color: #49566a;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* .btn-primary {
  color: #fff;
  background-color:#49566a;
  border-color: #49566a;
} */

/* .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #49566a;
  border-color: #49566a;
} */








.scrollbar-y{
  overflow-y: scroll !important;
  max-height:100px !important;
}

.social a {
  margin-right: 0.4rem; }

#showcase {
  /* background: url(../img/showcase.jpg) no-repeat top center fixed/cover; */
  position: relative;
  /* min-height: 650px; */
  color: rgb(209, 201, 201);
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: #c25807;
    background: #c25807;
   }

#showcase-inner {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
   }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    
    background:#c25807; }
  /* #showcase-inner.showcase-search {
    min-height: 270px; } */

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

/* @media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } } */

/* @media (max-width: 768px) {
   } */
/* 
@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } } */
  
@media only screen and (max-width:768px){
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; }
  .card-img-top {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  .mediaQuery{
    display: block;
  }

}

  