{% load static %}
{% load humanize %}

{% block content %}
<div class="container text-center dropdown  my-4 choosing">
    <!-- type of housing -->
        <!-- bigger card -->
        
        <div class="card mainCard">
            <h5 class="card-header">Yes. You Can buy/own building in Dubai. Just in few clicks</h5>
            <div class="card-body">
                
                <!-- inner cards -->
                <div class="row">
                   
                    <div class="col-sm-6">
                        <a href="{% url 'readyToMoveIn' %}" >
                      <div class="card customCard">
                        <div class="card-body">
                          <h5 class="card-title">Ready To Move In</h5>
                          <p class="card-text">Studio, flats, apartments, villas, Townhouses in Dubai and whole of UAE. Ready for sale and renting</p>
                          </div>
                      </div>
                        </a>
                    </div>
                    
                    
                    <div class="col-sm-6">
                        <a href="{% url 'mortgage' %}">
                      <div class="card customCard">
                        <div class="card-body">
                          <h5 class="card-title">Mortgage Plans</h5>
                          <p class="card-text">Offplan, under construction and launched properties and projects in Dubai. Available for sale</p>
                          
                        </div>
                      </div>
                        </a>
                    </div>
                    
                  </div>

                  <!-- second row -->

                  <div class="row my-3">
                   
                    <div class="col-sm-6">
                        <a href="{% url 'handOver' %}" >
                      <div class="card customCard">
                        <div class="card-body">
                          <h5 class="card-title">HandOver in 12 Months</h5>
                          <p class="card-text">Studio, flats, apartments, villas, Townhouses in Dubai and whole of UAE. Ready for sale and renting</p>
                          </div>
                      </div>
                        </a>
                    </div>
                    
                    
                    <div class="col-sm-6">
                        <a href="{% url 'hottestInTown' %}">
                      <div class="card customCard">
                        <div class="card-body">
                          <h5 class="card-title">Hottest In Town</h5>
                          <p class="card-text">Ofplan, under construction and launched properties and projects in Dubai. Available for sale</p>
                          
                        </div>
                      </div>
                        </a>
                    </div>
                    
                  </div>

                  <div class="row my-3 justify-content-center align-items-center">
                    <div class="col-sm-6 ">
                      <a href="{% url 'villasMansions' %}">
                    <div class="card customCard">
                      <div class="card-body">
                        <h5 class="card-title">Villas and Mansions</h5>
                        <p class="card-text">Ofplan, under construction and launched properties and projects in Dubai. Available for sale</p>
                        
                      </div>
                    </div>
                      </a>
                  </div>

                  </div>


            </div>
          </div>

          <!-- areas selection -->

          
          
  </div>
  {% endblock %}