<!-- Top Bar -->
<section id="" class="p-3 text-white" style="background-color:#c25807;">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <!-- <div class="col-md-4"><i class="fas fa-phone"></i>09123456783</div> -->
      <div class="fw-bolder" style="font-size:larger; font-weight: bolder;">
        InvestInDubai.com
      </div>
      <!-- <div class="col-md-4">
        <div class="social text-right">
          <a href="#"> <i class="fab fa-twitter text-white"></i> </a>
          <a href="#"> <i class="fab fa-facebook text-white"></i> </a>
          <a href="#"> <i class="fab fa-linkedin text-white"></i> </a>
          <a href="#"> <i class="fab fa-instagram text-white"></i> </a>
          <a href="#"> <i class="fab fa-pinterest text-white"></i> </a>
        </div>
      </div> -->
    </div>
  </div>
</section>
