{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome{% endblock %}

{% block content %}

<!-- selection panel. -->


{% include 'partials/_choosing.html' %}

<!-- Showcase -->


<br>
<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Listings -->
<section id="listings" class="py-3">
  <div class="container">
    <h3 class="text-center mb-3">Latest Listings</h3>
    <div class="row">
      {% if listings %}
        {% for listing in listings %}
        <div class="col-md-6 col-lg-4 mb-4 ">
          
            <div class="card listing-preview customCard">
              <a href="{% url 'listing' listing.id %}" >
              <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="" />
              <div class="card-img-overlay">
                <!-- <h2>
                  <span class="badge badge-secondary text-white">AED {{ listing.price | intcomma}}</span>
                </h2> -->
              </div>
              <div class="card-body">
                <div class="listing-heading text-center" style="background-color: #c25807;border-radius: 4px">
                  <h4 class="text-primary">{{ listing.title }}</h4>
                 
                </div>
                <hr />
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i> Sqft: {{ listing.sqft }}
                  </div>
                  <div class="col-6"><i class="fas fa-car"></i> Garage: {{ listing.garage }}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6"><i class="fas fa-bed"></i> Bedrooms: {{ listing.bedrooms }}</div>
                  <div class="col-6"><i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}</div>
                </div>
                <hr />
                <div class="row py-2 text-secondary">
                  <div class="col-6"><i class="fas fa-user"></i> {{ listing.realtor }}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6"><i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
                </div>
                <hr />
                <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block mediaQuery">View</a>
                
              </div>
              </a>
            </div>
          
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12">
          <p>No listings available</p>
        </div>
      {% endif %}
</section>

<section id="" class="py-5 text-white" style="background-color:#c25807;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-cogs fa-4x mr-4"></i>
        <hr />
        <h3>Consulting Services</h3>
        <p>
          Our round the clock real estate experts offer recommendations on renting or buying a property and investment decisions. Property evaluation and market trends are also provided.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr />
        <h3>Propery Management</h3>
        <p>
          Property management is the daily oversight of residential,
          commercial, or industrial real estate by a third-party contractor.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-money-bill-alt fa-4x mr-4"></i>
        <hr />
        <h3>Renting & Selling</h3>
        <p>
          Renting can provide some security because you know you can return to your home.
          Selling a house and then buying another home incurs costs,
          so it may be cheaper to rent out your house and move back in when you return
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
